streamlit
playwright
yt-dlp
pytube
moviepy
pydub
gTTS
edge-tts
deep-translator
googletrans==4.0.0-rc1
SpeechRecognition
requests
beautifulsoup4
lxml
numpy
pandas
Pillow
ffmpeg-python
python-dotenv
urllib3
tqdm
colorama
webdriver-manager
selenium
mutagen
openai-whisper
torch
google-generativeai
curl_cffi
